<%- include("header") %>
<div class="container-fluid pt-4 px-4">
    <div class="bg-secondary rounded h-100 p-4">
        <h6 class="mb-4">change password</h6>
        <form action="/admin/changepassword" method="post" >
           
            
            
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Curent Password</label>
                <input type="password" class="form-control" placeholder="Password password" name="cpassword" id="exampleInputPassword1">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">New Password</label>
                <input type="password" class="form-control" placeholder="New password" name="npassword" id="exampleInputPassword1">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Conform Password</label>
                <input type="password" class="form-control" placeholder="Conform password" name="copassword" id="exampleInputPassword1">
            </div>
          
            <button type="submit" class="btn btn-primary btn-sm">
                <i class="fa fa-dot-circle-o"></i> Submit
            </button>
        </form>
    </div>


</div>
<%- include("footer") %>